<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>tweet-widget</title>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
	<script src="js/main.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">	
    <link rel="stylesheet" href="assets/css/main.min.css">      

    <!-- Handlebars Template -->
    <script id="tw-template" type="text/x-handlebars-template">
        {{#each this}}
  		<div class="col-xs-12 col-md-12 tw-twit padding-reset-all-0">
        	<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                <img src="{{user.profile_image_url}}">
            </div>
            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-8">
                <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8 padding-reset-all-0">
                    <h2>FireFreebies</h2>
                </div>                 
                <div class="col-lg-6 col-md-6 col-sm-4 col-xs-4 padding-reset-all-0">
                    <p class="date greyish">{{created_at}}</p>
                </div>              
            	    <p class="greyish">@firefreebies</p>
                    <p>{{text}}</p>                
            </div>
        </div>
        {{/each}}
	</script>

</head>
<body>  
<div class="loading-modal"><img src="img/loading.gif"></div> 
<div class="container">
    <div id="tw-wid" class="tw-wid-body">
        <div class="row tw-header">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4">
                <h1>Tweets</h1>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8">                
                <a class="follow-btn pull-right">Follow @firefrebiees</a>
                <i class="fa fa-twitter pull-right" aria-hidden="true"></i>
            </div>
        </div>                           
        <div class="row tw-body">
        </div>   
        <div class="row tw-footer">
            <div class="form-group">  
                <input type="input" class="form-control" id="tweet-fire" placeholder="Tweet to @firefreebies">
            </div>              
        </div>                                    
    </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

</body>
</html>