/* Theme Colors */
/* line 1, sass/partials/_styles.scss */
body {
  padding-top: 50px;
  background-color: #282c37;
}

/* line 5, sass/partials/_styles.scss */
.padding-reset-all-0 {
  padding: 0px;
}

/* line 8, sass/partials/_styles.scss */
.greyish {
  color: #aaa;
}

/* line 11, sass/partials/_styles.scss */
.loading-modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: none;
}
/* line 20, sass/partials/_styles.scss */
.loading-modal img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* line 31, sass/partials/_styles.scss */
#tw-wid.tw-wid-body {
  padding: 0px 15px;
  background-color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
/* line 36, sass/partials/_styles.scss */
#tw-wid .tw-header {
  background-color: #0faeed;
  border-radius: 10px 10px 0px 0px;
}
/* line 39, sass/partials/_styles.scss */
#tw-wid .tw-header h1 {
  font-size: 1.6em;
  font-weight: bold;
  margin: 10px;
  color: #fff;
  letter-spacing: .3em;
}
@media only screen and (max-width: 320px) {
  /* line 39, sass/partials/_styles.scss */
  #tw-wid .tw-header h1 {
    font-size: 1.3em;
  }
}
/* line 49, sass/partials/_styles.scss */
#tw-wid .tw-header a.follow-btn {
  margin: 7px;
  color: #0faeed;
  background: #fff;
  padding: 5px;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
}
@media only screen and (max-width: 320px) {
  /* line 49, sass/partials/_styles.scss */
  #tw-wid .tw-header a.follow-btn {
    font-size: 0.9em;
    margin: 7px 0px;
  }
}
/* line 61, sass/partials/_styles.scss */
#tw-wid .tw-header a.follow-btn:hover {
  text-decoration: none;
}
/* line 64, sass/partials/_styles.scss */
#tw-wid .tw-header .fa-twitter {
  background-color: #fff;
  font-size: 1.6em;
  margin: 7px -5px;
  padding: 4px 9px;
  border-radius: 12px 0 0 10px;
  color: #0faeed;
}
@media only screen and (max-width: 320px) {
  /* line 64, sass/partials/_styles.scss */
  #tw-wid .tw-header .fa-twitter {
    font-size: 1.1em;
    padding: 6px 6px;
    margin: 7px 2px;
  }
}
/* line 78, sass/partials/_styles.scss */
#tw-wid .tw-body {
  padding-top: 15px;
  height: 400px;
  overflow-y: scroll;
}
/* line 82, sass/partials/_styles.scss */
#tw-wid .tw-body h2 {
  margin: 0;
  color: #0faeed;
  font-size: 1.5em;
  font-weight: bold;
}
@media only screen and (max-width: 480px) {
  /* line 82, sass/partials/_styles.scss */
  #tw-wid .tw-body h2 {
    font-size: 1.2em;
  }
}
/* line 91, sass/partials/_styles.scss */
#tw-wid .tw-body div.tw-twit:nth-child(even) {
  background: #eee;
}
/* line 94, sass/partials/_styles.scss */
#tw-wid .tw-body .tw-twit {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 5px;
}
/* line 100, sass/partials/_styles.scss */
#tw-wid .tw-footer {
  padding: 15px 15px 0px 15px;
  background-color: #ddd;
  border-radius: 0px 0px 10px 10px;
}
