body {
  padding-top: 50px;
  background-color: #282c37;
}
.padding-reset-all-0{
  @include padding-reset(0px);
}
.greyish {
  color: #aaa;
}
.loading-modal {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 );
    display: none;
    img {
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
  }
}

#tw-wid {    
  &.tw-wid-body {
    padding: 0px 15px;    
    background-color: #fff;
    @include border-radius(10px);
  }
  .tw-header {
    background-color: $main-blue;
    border-radius: 10px 10px 0px 0px;
    h1 {
      font-size: 1.6em;
      font-weight: bold;  
      margin: 10px;
      color: #fff;
      letter-spacing: .3em;
      @media only screen and (max-width: $screen-xs) {
        font-size: 1.3em;
      }      
    }
    a.follow-btn {
      margin: 7px;
      color: $main-blue;
      background: #fff;
      padding: 5px;
      border-radius: 0px 10px 10px 0px;
      cursor: pointer;
      @media only screen and (max-width: $screen-xs) {
        font-size: 0.9em;
        margin: 7px 0px;
      }   
    }
    a.follow-btn:hover {
      text-decoration: none;
    }
    .fa-twitter {
      background-color: #fff;
      font-size: 1.6em;
      margin: 7px -5px;
      padding: 4px 9px;
      border-radius: 12px 0 0 10px;
      color: $main-blue;
      @media only screen and (max-width: $screen-xs) {
        font-size: 1.1em;
        padding: 6px 6px;        
        margin: 7px 2px;
      }   
    }
  }
  .tw-body {
    padding-top: 15px;
    height: 400px;
    overflow-y: scroll;
    h2 {
      margin: 0;
      color: $main-blue;
      font-size: 1.5em;
      font-weight: bold; 
      @media only screen and (max-width: $screen-sm) { 
        font-size: 1.2em;
      }     
    }
    div.tw-twit:nth-child(even) {
      background: #eee;
    }
    .tw-twit {
      display: inline-block;
      padding-top: 15px;
      padding-bottom: 5px;
    }    
  }
  .tw-footer {
    padding: 15px 15px 0px 15px;
    background-color: #ddd;
    border-radius: 0px 0px 10px 10px;
  }
}

