//== Media queries breakpoints
// Extra small screen / phone
$screen-xs:                  320px !default;
$xs-min:                     $screen-xs !default;;
$screen-xs-min:              $screen-xs !default;
$screen-small-phone:         $screen-xs-min !default;

// Small screen / phone
$screen-sm:                  480px !default;
$sm-min:                     $screen-sm;
$screen-sm-min:              $screen-sm !default;
$screen-phone:               $screen-sm-min !default;

// Medium screen / tablet
$screen-md:                  768px !default;
$md-min:                     $screen-md !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

// Large screen / desktop
$screen-lg:                  992px !default;
$lg-min:                     $screen-lg !default;
$screen-lg-min:              $screen-lg !default;
$screen-desktop:             $screen-lg-min !default;

// Large screen / wide desktop
$screen-xl:                  1480px !default;
$xl-min:                     $screen-xl !default;
$screen-xl-min:              $screen-xl !default;
$screen-xl-desktop:          $screen-xl-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
$screen-lg-max:              ($screen-xl-min - 1) !default;
$xs-max:                     ($sm-min - 1) !default;
$sm-max:                     ($md-min - 1) !default;
$md-max:                     ($lg-min - 1) !default;
$lg-max:                     ($xl-min - 1) !default;
$tb-max:                     1024px; // Tablet max width

/* Theme Colors */
$main-blue: #0faeed;
